<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
        
        <!-- title icons stylesheets -->
        <link rel="icon" href="../public/img/logo.png">
        <title id="tit">About</title>
      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/"><img src="../public/img/logo.png" alt="logo" style="border-radius: 50%;"></a>
            <a class="navbar-brand" href="/"><span class="ml-2">MTrader</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/data">Data <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bank Nifty
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item btnmy" href="#" id="btn-1">2015</a>
                    <a class="dropdown-item btnmy" href="#" id="btn-2">2016</a>
                    <a class="dropdown-item btnmy" href="#" id="btn-3">2017</a>
                    <a class="dropdown-item btnmy" href="#" id="btn-4">2018</a>
                    <a class="dropdown-item btnmy" href="#" id="btn-5">2019</a>
                    <a class="dropdown-item btnmy" href="#" id="btn-6">2020</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Performance Report
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#" >2015</a>
                      <a class="dropdown-item" href="#">2016</a>
                      <a class="dropdown-item" href="#" >2017</a>
                      <a class="dropdown-item" href="#">2018</a>
                      <a class="dropdown-item" href="#" >2019</a>
                      <a class="dropdown-item" href="#" >2020</a>
                      <!-- <div class="dropdown-divider"></div> -->
                      <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                  </div>
              </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account Opening(Refferal)
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://bv7np.app.goo.gl/B8hB" target="_blank">Upstox</a>
                    <a class="dropdown-item" href="#">Zerodha</a>
                    <a class="dropdown-item" href="#">5Paisa</a>
                    <a class="dropdown-item" href="#">Aliceblue</a>
                    <a class="dropdown-item" href="#">Angelbroking</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/plans">Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/webinar">Webinar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/disclaimer">Disclaimer</a>
                </li>          
              </ul>
            </div>
          </nav>
    <div class="container mt-3" id="mainc">
        <div class="jumbotron p-4">
            <h3>MTrader's</h3>
        </div>
        <p style="font-size: larger;">
          M Trader's welcomes all the new members to our websites. M Trader's is created to educate Indian Stock Market Investors. All the views are for educational purpose and its our personal views. Consult your personal investment advisor before investing. Please read disclaimer in our website to know more about us.
          <br>
          <hr>
        </p>
        <p style="font-size: larger;">
          M Trader's way of working: All the Analysis, Entry and Exit will be done on bank NIFTY weekly expiry option. You can track the past performance in our website. Profit and Loss will be calculated for ten lot of options. Stay away from advisories and Fake What's app & Telegram Channels. Our first target should be saving Capital. Always shift your stop loss to cost zone first in Intraday Trading. All views for educational purpose only. M Trader's is not into any kind of advisory services.
        <p>
      </div>
      <table class="table table-bordered">
        <thead  id="theading">
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    <footer class="footer bg-dark" style="color: white; text-align: center;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4  col-sm-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                        <li><a href="disclaimer.html">Disclaimer</a></li>
                    </ul>
                </div>
                <div class="col-7   col-sm-3 address">
                    <h5>Our Address</h5>
                    <!-- <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br> -->
                    <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:mkhome811@gmail.com">mkhome811@gmail.com</a>
                    </address>
                </div>
                <div class="col-12  col-sm-6">
                    <div class="allignment-links">
                        <a href="http://google.com/+" class="btn btn-social-icon btn-google"><i
                                class="fa fa-google-plus fa-lg"></i></a>
                        <a href="http://www.facebook.com/profile.php?id=" class="btn btn-social-icon btn-facebook"><i
                                class="fa fa-facebook fa-lg"></i></a>
                        <a href="http://www.linkedin.com/in/" class="btn btn-social-icon btn-linkedin"><i
                                class="fa fa-linkedin fa-lg"></i></a>
                        <a href="http://twitter.com/" class="btn btn-social-icon btn-twitter"><i
                                class="fa fa-twitter fa-lg"></i></a>
                        <a href="http://youtube.com/" class="btn btn-social-icon btn-google"><i
                                class="fa fa-youtube fa-lg"></i></a>
                        <!-- <a href="mailto:" class="btn btn-social-icon"><i class="fa fa-envelope fa-lg"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 2020 M TRADER's | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
        <script src="../public/js/index.js"></script>
</body>

</html>